<mat-toolbar color="accent">
    <mat-toolbar-row>
        <span>Vehicle Register</span>

        <span class="example-spacer"></span>

        <button mat-button routerLink="/register" routerLinkActive="active">Register Vehicle</button>
        <button mat-button routerLink="/vehicles" routerLinkActive="active">Registered Vehicles</button>
        <button mat-button routerLink="/about" routerLinkActive="active">About</button>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>